  <div class="row">
    <div class="col"><img src={{imgLogoVVF}} class="img-fluid" width="50px" height="50px"></div>
    <div class="h6 text-center col-10">
        <div><span>Ministero dell'interno</span></div>
        <div><span>Corpo Nazionale dei Vigili del Fuoco - Short Term Countermeasures System</span></div>
        <div>
            <span>Struttura: </span>        
            <span style="color:#920000"> _______________________________________________________</span>                
          </div>
    </div>
    <div class="col"><img src={{imgLogoSTCS}} class="img-fluid" width="50px" height="50px"></div>
  </div>
  <div>
  <div class="row">
      <div class="col"><hr></div>
    </div>

  <div class="h6 row">
    <div class="col-md-6">
      <span><b>Scheda TRIAGEdEM</b></span>
      <span> - Triage dell'Edificato nell'Emergenza</span>
    </div>
    <div class="col-md-3 ml-auto">
      <span>Cod. temp.:</span>                
      <span style="color:#920000">_____________</span>
      <span> Data:</span>                
      <span style="color:#920000">_____________</span>                        
    </div>
  </div>