<div class="card">
  <div class="card-header"><b>Riferimenti richiedente:</b></div>

  <div class="card-body">  
      <div class="row">
          <div class="col-9">
              <span>Richiedente: </span>                
              <label class="col-md-10"><div style="border-bottom:1px solid #920000;">&nbsp;</div></label>
          </div>
          <div class="col-3 text-right">
              <span>Rif. tel.:</span>                
              <label class="col-md-10"><div style="border-bottom:1px solid #920000;">&nbsp;</div></label>
          </div>
      </div>

      <div class="row">
          <div class="col-9">
              <input type="radio" name="tipoRichiedente">&nbsp;Proprietario
              <input type="radio" name="tipoRichiedente">&nbsp;Altro:
              <label class="col-md-10"><div style="border-bottom:1px solid #920000;">&nbsp;</div></label>
          </div>
          <div class="col-3 text-right">
              <span>Data Richiesta:</span>                
              <label class="col-md-6"><div style="border-bottom:1px solid #920000;">&nbsp;</div></label>
          </div>
      </div>
  </div>
</div>